<li class='item' id='discipline_<%= discipline.id%>' data-value='<%= discipline.title %>'>
  <div class="actions">
    <%= link_to 'редактировать',
      edit_workplace_discipline_path(discipline),
      :class => 'yellow_button faded in_frame',
      'data-parent' => '.workplace_wrapper',
      'data-target' => "#discipline_#{ discipline.id }",
      'data-list' => '#discipline_list',
      'data-kind' => 'update_record',
      :remote => true %>
    <%= link_to 'удалить', workplace_discipline_path(discipline), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_button faded' %>
  </div>
  <%= link_to discipline.title,
    edit_workplace_discipline_path(discipline),
    :class => 'title in_frame',
    'data-parent' => '.workplace_wrapper',
    'data-target' => "#discipline_#{ discipline.id }",
    'data-list' => '#discipline_list',
    'data-kind' => 'update_record',
    :remote => true %>
  <div class="additional"><%= discipline.abbr %></div>
</li>
