<%= simple_form_for [:workplace, @discipline], :remote => true do |f| %>
  <%= f.input :title, :input_html => { :class => 'inline_edit wide' } %>
  <%= f.input :abbr, :input_html => { :class => 'inline_edit tight' } %>

  <div class="buttons sticky bottom">
    <%= f.submit "Сохранить", :class => 'yellow_button' %>
    <%= link_to "Отмена", :back, :class => 'cancel grey_button' %>
  </div>
<% end %>
