<h1>All subscriptions for <%= @organization.title %></h1>

<ul>
  <% @organization.subscriptions.each do |subscription| %>
    <li>
      Кол-во групп: <%= subscription.groups_count %><br/>
      <%= l subscription.starts_on, :format => :long %> &mdash; <%= l subscription.ends_on, :format => :long %><br/>
      Сумма: <%= number_to_currency subscription.sum %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add subscription', new_workplace_organization_subscription_path(@organization) %>
