<div class="auth_form_wrapper">
  <h3>Редактирование вашего профиля</h3>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.input :email, :required => true, :autofocus => true %>

    <%= f.input :password, :autocomplete => "off", :hint => "оставьте пустым, если не хотите менять пароль", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "необходим текущий пароль для сохранения изменений", :required => true %>

    <div class="actions">
      <%= f.button :submit, "Обновить", :class => 'submit' %>
      <%= link_to "Отмена", root_path, :class => 'cancel' %>
    </div>
  <% end %>

  <h3>Отключение профиля</h3>

  <p><%= link_to "Отключение профиля", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %></p>

  <%= link_to "Назад", :back %>
</div>
