<h1>Sign up</h1>

<div class="sign_up_form_wrapper">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>

    <div class="buttons">
      <%= f.button :submit, "Sign up" %>
      <%= link_to "Cancel", root_path %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
