<%= simple_form_for [:manage, @organization, @subscription] do |f| %>
  <%= f.input :starts_on %>
  <%= f.input :ends_on %>
  <%= f.input :groups_count %>
  <%= f.input :active %>

  <div class="buttons">
    <%= f.submit "Сохранить" %>
    <%= link_to "Отмена", :back %>
  </div>
<% end %>
