<div class="tight_block">
  <div class="search_title">Поиск</div>
  <%= simple_form_for :search, :method => :get, :html => { :class => 'search_form' } do |f| %>
    <%= f.input :q,
      :label => false,
      :input_html => {
        :class => 'thin need_autocomplete',
        :placeholder => 'Введите номер группы или ФИО преподавателя',
        :autofocus => true,
        :name => :term,
        :value =>  params[:term]
      } %>
    <div class="submit">
      <%= f.button :button, 'Искать' %>
    </div>
  <% end %>
</div>

<ul class='results_list'>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.title, organization_group_path(group.title) %>
      <span class='additional'><%= group.timetable.title %></span>
    </li>
  <% end %>
  <% @lecturers.each do |lecturer| %>
    <li><%= link_to lecturer.full_name, organization_lecturer_path(lecturer) %></li>
  <% end %>

  <% if @groups.empty? && @lecturers.empty? && params[:search].present? %>
      <li class="empty">Не найдено ни одного расписания</li>
  <% end %>
</ul>
