<%= simple_form_for [:workplace, @timetable].flatten, :remote => true, :html => { :class => 'scrollable' } do |f| %>
  <%= f.input :title, :input_html => { :class => 'inline_edit large' } %>
  <%= f.input :starts_on, :as => :date_picker, :input_html => { :class => 'inline_edit' } %>
  <%= f.input :ends_on, :as => :date_picker, :input_html => { :class => 'inline_edit' }, :label => false %>
  <%= f.input :parity, :input_html => { :class => 'inline_edit' } %>
  <%= f.input :first_week_parity, :as => :radio, :input_html => { :class => 'inline_edit' } %>


  <div class="lesson_time_wrapper">
    <ul class='tabbed_links'>
      <% (1..7).each do |day| %>
        <li><%= link_to day, '#', :class => 'tabbed_link', :id => "day_#{day}" %></li>
      <% end %>
    </ul>
    <div class='tabbed ajaxed lesson_times'>
      <% (1..7).each do |day| %>
        <ul class='day_<%= day %> target'>
          <% lesson_times_for_day = @timetable.lesson_times.for_day(day) %>
          <% (1..lesson_times_for_day.maximum(:number).to_i).each do |number| %>
            <li class='ajax_item'>
              <% lesson_time = lesson_times_for_day.for_number(number) %>
              <% if lesson_time.any? %>
                <%= render lesson_time %>
              <% else %>
                <%= number %> нет занятия в это время
              <% end %>
            </li>
          <% end %>
          <li class='ajax_item'>
            <%= link_to "добавить", new_workplace_timetable_lesson_time_path(@timetable, 'lesson_time[day]' => day), :remote => true, :class => 'new_link' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="buttons sticky bottom">
    <%= f.submit "Сохранить", :class => 'yellow_button' %>
    <%= link_to "Отмена", :back, :class => 'cancel grey_button' %>
  </div>
<% end %>
