<%= simple_form_for [:workplace, @organization, @timetable].flatten do |f| %>
  <%= f.input :title %>
  <%= f.input :starts_on %>
  <%= f.input :ends_on %>
  <%= f.input :status %>
  <%= f.input :parity %>

  <div class="buttons">
    <%= f.submit "Save" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
