<%= simple_form_for [:workplace, @organization, @timetable].flatten do |f| %>
  <%= f.input :title %>
  <%= f.input :starts_on %>
  <%= f.input :ends_on %>
  <%= f.input :parity %>
  <%= f.input :first_week_parity, :as => :select, :collection => [['odd', 1], ['even', 0]] %>

  <div class="buttons">
    <%= f.submit "Save" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
