<li class="item" id='timetable_<%= timetable.id%>' data-value='<%= timetable.title %>'>
  <span class="status <%= timetable.status %>"><%= timetable.human_status_name %></span>
  <div class="actions">
    <%= link_to 'редактировать',
                edit_workplace_timetable_path(timetable),
                :class => 'yellow_button faded in_frame',
                'data-parent' => '.workplace_wrapper',
                'data-target' => "#timetable_#{ timetable.id }",
                'data-list' => '#timetable_list',
                'data-kind' => 'update_record',
                :remote => true %>
    <%= link_to 'удалить', workplace_timetable_path(timetable), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_button faded' %>
  </div>
  <%= link_to timetable.title, workplace_timetable_week_path(timetable, timetable.closest_week), :class => 'title' %>
  <div class="additional">
    c <%= l timetable.starts_on, :format => :long %> по <%= l timetable.ends_on, :format => :long %>
  </div>
</li>
