<h2>Забыли ваш пароль?</h2>

<%= simple_form_for resource, :url => password_path(resource_name), :as => resource_name do |f| %>
  <%= f.input :email, :input_html => { :autofocus => true } %>

  <div class="buttons">
    <%= f.submit "Отправить инструкции для восстановления" %>
    <%= link_to "Отмена", root_path %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
