<ul class="sidebar js-sidebar">
  <li><%= link_to 'Что такое FlipTable?', 'about' %></li>
  <li><%= link_to 'Начало работы с FlipTable', 'getting-started' %></li>
  <li><%= link_to 'Настройки учреждения', 'organization-settings' %></li>
  <li><%= link_to 'Справочник преподавателей', 'lecturers' %></li>
  <li><%= link_to 'Справочник аудиторного фонда', 'buildings' %></li>
  <li><%= link_to 'Справочник дисциплин', 'disciplines' %></li>
  <li><%= link_to 'Составление расписания', 'timetable' %></li>
  <li><%= link_to 'Копирование и перенос урока', 'copy-move-lesson' %></li>
  <li><%= link_to 'Копирование недель', 'copy-weeks' %></li>
  <li><%= link_to 'Публикация расписания', 'timetable-publication' %></li>
  <li><%= link_to 'Статистика нагрузки по расписанию', 'timetable-statistics' %></li>
  <li><%= link_to 'Многопользовательский режим работы', 'managers' %></li>
  <li><%= link_to 'Публичный вид расписания', 'timetable-in-public' %></li>
  <li><%= link_to 'Подписки', 'subscription' %></li>
  <li><%= link_to 'Поддержка пользователей и гарантии', 'support' %></li>
</ul>
