<ul class="sidebar js-sidebar">
  <li><%= link_to 'Что такое FlipTable?', 'about' %></li>
  <li><%= link_to 'Начало работы с FlipTable', 'getting-started' %></li>
  <li><%= link_to 'Настройки учреждения', 'organization-settings' %></li>
  <li><%= link_to 'Справочник преподавателей', 'lecturers' %></li>
  <li><%= link_to 'Справочник аудиторного фонда', 'buildings' %></li>
  <li><%= link_to 'Справочник дисциплин', 'disciplines' %></li>
  <li><%= link_to 'Копирование и перенос урока', '#' %></li>
  <li><%= link_to 'Копирование недель', '#' %></li>
  <li><%= link_to 'Статус расписания', '#' %></li>
  <li><%= link_to 'Статистика нагрузки по расписанию', '#' %></li>
  <li><%= link_to 'Менеджеры', '#' %></li>
  <li><%= link_to 'Публичный вид расписания', '#' %></li>
  <li><%= link_to 'Подписка', '#' %></li>
</ul>
