<p>
  Формирование справочника аудиторного фонда, так же как и справочника преподавателей, возможно двумя способами: внести сведения вручную
  или воспользоваться механизмом автоматического импорта из CSV формата.
</p>

<p>
  Перейдем на страницу управления аудиторным фондов, нажав на
  <%= image_tag 'docs/buildings-icon.png', :alt => 'Иконка справочник аудиторного фонда', :title => 'Иконка справочник аудиторного фонда', :class => 'icon' %>
  в элементах навигации «Корпуса и аудитории».
</p>

<%= link_to image_tag('docs/buildings-list.png', :alt => 'Список аудиторного фонда', :title => 'Список аудиторного фонда'), image_path('docs/buildings-list.png'), :class => 'js-gallery' %>

<p>
  Для «ручного» добавления сведений о преподавателях нужно нажать на кнопку «Добавить корпус», на открывшейся форме ввести название
  и адрес корпуса и нажать «Сохранить» в нижней части экрана. В этой же форме можно заполнить аудиторный фонд нового корпуса.
</p>

<%= link_to image_tag('docs/buildings-add-new.png', :alt => 'Добавление нового учебного корпуса', :title => 'Добавление нового учебного корпуса'), image_path('docs/buildings-add-new.png'), :class => 'js-gallery' %>

<p>
  Для использования автоматического импорта справочника корпусов и аудиторий из CSV формата раскройте окно диалога импорта, нажав на ссылку «Быстрый импорт».
</p>

<%= link_to image_tag('docs/buildings-import.png', :alt => 'Быстрый импорт корпусов и аудиторий', :title => 'Быстрый импорт корпусов и аудиторий'), image_path('docs/buildings-import.png'), :class => 'js-gallery' %>

<p>
  В диалоговом окне есть пример файла нужного формата (доступен по ссылке «скачать пример»). Для загрузки необходимо нажать на кнопку «загрузить .csv файл»,
  выбрать подготовленный заранее CSV файл со списком корпусов и аудиторий и нажать на кнопку «импортировать».
  После обработки весь аудиторный фонд будет отображаться в списке.
</p>

<p>
  По справочнику корпусов и аудиторий организован поиск.
</p>

<p>
  Для каждой аудитории доступно понедельное расписание загрузки аудитории с указанием предметов, преподавателей и учебных групп.
</p>

<%= link_to image_tag('docs/buildings-statistic.png', :alt => 'Загруженность аудитории', :title => 'Загруженность аудитории'), image_path('docs/buildings-statistic.png'), :class => 'js-gallery' %>
