<p>
  FlipTable позволяет с легкостью копировать или переносить уроки в рамках одной недели. Для этого достаточно нажать на кнопку
  <%= image_tag 'docs/copy-icon.png', :alt => 'Иконка копирование урока', :title => 'Иконка копирование урока', :class => 'icon' %>
  (Копировать) или
  <%= image_tag 'docs/move-icon.png', :alt => 'Иконка перенос урока', :title => 'Иконка перенос урока', :class => 'icon' %>
  (Перенести) и выбрать любые свободные ячейки на неделе. При копировании занятие можно продублировать сразу на несколько уроков,
  указав соответствующие галочки в сетке расписания.
</p>

<%= link_to image_tag('docs/copy-lesson.png', :alt => 'Копирование урока', :title => 'Копирование урока'), image_path('docs/copy-lesson.png'), :class => 'js-gallery' %>

<p>
  Перенести урок можно только на определенный день и время.
</p>

<%= link_to image_tag('docs/move-lesson.png', :alt => 'Перенос урока', :title => 'Перенос урока'), image_path('docs/move-lesson.png'), :class => 'js-gallery' %>

<p>
  Пример заполненного расписания занятий.
</p>

<%= link_to image_tag('docs/timetable-example.png', :alt => 'Пример заполненного расписания занятий', :title => 'Пример заполненного расписания занятий'), image_path('docs/timetable-example.png'), :class => 'js-gallery' %>
