<p>
  На самом деле, расписание можно составлять, не имея справочника преподавателей. Но, чтобы понять все возможности, лучше заполнить справочник.
  Это можно сделать двумя способами: внести сведения вручную или воспользоваться механизмом автоматического импорта из CSV формата.
</p>

<p>
  Итак, перейдем на страницу управления преподавателями, нажав на
  <%= image_tag 'docs/lecturers-icon.png', :alt => 'Иконка справочник преподавателей', :title => 'Иконка справочник преподавателей', :class => 'icon', :width => '50px', :height => '50px' %>
  «Лекторы» в элементах навигации. Для «ручного» добавления сведений о преподавателях нужно нажать на кнопку «Добавить лектора».
</p>

<%= link_to image_tag('docs/lecturers-list.png', :alt => 'Список преподавателей', :title => 'Список преподавателей', :width => '672px', :height => '200px'), image_path('docs/lecturers-list.png'), :class => 'js-gallery' %>

<p>
  На открывшейся форме ввести фамилию, имя и отчество преподавателя и нажать «Сохранить» в нижней части экрана.
</p>

<%= link_to image_tag('docs/lecturers-add-new.png', :alt => 'Добавление нового преподавателя', :title => 'Добавление преподавателя', :width => '672px', :height => '164px'), image_path('docs/lecturers-add-new.png'), :class => 'js-gallery' %>

<p>
  Для использования автоматического импорта справочника преподавателей из CSV формата раскройте окно диалога импорта, нажав на ссылку «Быстрый импорт».
</p>

<%= link_to image_tag('docs/lecturers-import.png', :alt => 'Быстрый импорт преподавателей', :title => 'Быстрый импорт преподавателей', :width => '672px', :height => '236px'), image_path('docs/lecturers-import.png'), :class => 'js-gallery' %>

<p>
  В диалоговом окне есть пример файла нужного формата (доступен по ссылке «скачать пример»). Для загрузки необходимо нажать на кнопку «загрузить .csv файл»,
  выбрать подготовленный заранее CSV файл со списком преподавателей и нажать на кнопку «импортировать». После обработки все перечисленные в файле преподаватели
  будут отображаться в списке.
</p>

<p>
  По справочнику преподавателей организован поиск - по ссылке «Ф.И.О. преподавателя» доступно расписание преподавателя.
</p>

<%= link_to image_tag('docs/lecturers-timetable.png', :alt => 'Расписание преподавателя', :title => 'Расписание преподавателя', :width => '672px', :height => '296px'), image_path('docs/lecturers-timetable.png'), :class => 'js-gallery' %>

<p>
  Кроме расписания, для каждого доступен отчет со статистикой понедельной нагрузки в разрезе групп, предметов и видов занятий.
  Просмотр статистики доступен по клику на кнопке «Статистика» на списке преподавателей.
</p>

<%= link_to image_tag('docs/lecturers-statistic.png', :alt => 'Статистика нагрузки преподавателя', :title => 'Статистика нагрузки преподавателя', :width => '672px', :height => '411px'), image_path('docs/lecturers-statistic.png'), :class => 'js-gallery' %>

<p>
  Для формирования отчета статистики можно выбрать, какие расписания будут использоваться для построения отчета. По умолчанию отчет строится по всем расписаниям, включая черновики.
</p>
