<%= simple_form_for resource, :url => workplace_organizations_path(resource) do |f| %>
  <%= f.input :title %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :site %>
  <%= f.input :subdomain %>

  <div class="buttons">
    <%= f.submit "Save" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
