<h1><%= resource.title %></h1>

<h3>Your lecturers (<%= link_to "add lecturer", new_workplace_organization_lecturer_path(resource) %>)</h3>
<div class="import_help">
  Description of csv file
  <ul>
    <li>* first line is headers ('surname, name, patronymic')</li>
    <li>* next lines is a lecturer info ('Ivanov, Ivan, Ivanovich')</li>
  </ul>
</div>
<%= simple_form_for :import, :url => import_workplace_organization_lecturers_path(resource) do |f| %>
  <%= f.input :file, :as => :file %>
  <%= f.submit 'Import' %>
<% end %>
<ul>
  <%= render resource.lecturers if resource.lecturers.any? %>
</ul>

<h3>Your buildings (<%= link_to 'add building', new_workplace_organization_building_path(resource) %>)</h3>
<div class="import_help">
  Description of csv file
  <ul>
    <li>* first line is headers ('address, title, number')</li>
    <li>* next lines is a building info ('"Vershinina st, 76", FET, 438)</li>
  </ul>
</div>
<%= simple_form_for :import, :url => import_workplace_organization_buildings_path(resource) do |f| %>
  <%= f.input :file, :as => :file %>
  <%= f.submit 'Import' %>
<% end %>
<ul>
  <%= render resource.buildings if resource.buildings.any? %>
</ul>


<h3>Your members (<%= link_to 'add membership', new_workplace_organization_membership_path(resource) %>)</h3>
<ul>
  <%= render resource.memberships if resource.memberships.any? %>
</ul>

<h3>Your diciplines</h3>
<%= link_to 'your disciplines', workplace_organization_disciplines_path(resource) %>

<h3>Your timetables</h3>
<%= link_to 'your timetables', workplace_organization_timetables_path(resource) %>

<h3>Your subscriptions</h3>
<%= link_to 'your subscriptions', workplace_organization_subscriptions_path(resource) %>
