<h2 class='thin'><%= @organization.title %></h2>
<%= image_tag @organization.logotype.url, :class => 'to_left', :style => 'margin: 0 15px 0 0' if @organization.logotype_uid? %>
<p>Электронная почта: <%= mail_to @organization.email %></p>
<p>Телефон: <%= @organization.phone %></p>
<p>Сайт организации: <%= link_to @organization.site, @organization.site, :target => '_blank' %></p>
<p>Ссылка на расписание: <%= link_to "http://#{@organization.subdomain}.fliptable.ru", "http://#{@organization.subdomain}.fliptable.ru", :target => '_blank' %></p>

<%= link_to 'редактировать',
            edit_workplace_organization_path,
            :class => 'yellow_button in_frame',
            :remote => true,
            'data-parent' => '.workplace_wrapper',
            'data-target' => '',
            'data-kind' => 'update_record'
          %>

<%= link_to 'управление праздниками',
            edit_holidays_workplace_organization_path,
            :class => 'yellow_button in_frame',
            :remote => true,
            'data-parent' => '.workplace_wrapper',
            'data-target' => '',
            'data-kind' => 'update_record'
          %>

<%= link_to 'управление расписанием звонков',
            edit_lesson_times_workplace_organization_path,
            :class => 'yellow_button in_frame', :remote => true,
            'data-parent' => '.workplace_wrapper',
            'data-target' => '',
            'data-kind' => 'update_record'
          %>
