<h1><%= resource.title %></h1>

<h3>Лекторы (<%= link_to "добавить", new_workplace_organization_lecturer_path(resource) %>)</h3>
<div class="import_help">
  Описание формата csv:
  <ul>
    <li>* первая строка - заголовки ('surname, name, patronymic')</li>
    <li>* следующе строки - информация о лекторах ('Иванов, Иван, Иванович')</li>
  </ul>
</div>
<%= simple_form_for :import, :url => import_workplace_organization_lecturers_path(resource) do |f| %>
  <%= f.input :file, :as => :file, :label => 'CSV файл' %>
  <%= f.submit 'Импортировать' %>
<% end %>
<%= link_to "Ваши лекторы", workplace_organization_lecturers_path(resource) %>

<h3>Корпуса (<%= link_to 'добавить', new_workplace_organization_building_path(resource) %>)</h3>
<div class="import_help">
  Описание формата csv:
  <ul>
    <li>* первая строка - заголовки ('address, title, number')</li>
    <li>* следующе строки - информация о корпусах ("ул. Вершинина, 76", ФЭТ, 438)</li>
  </ul>
</div>
<%= simple_form_for :import, :url => import_workplace_organization_buildings_path(resource) do |f| %>
  <%= f.input :file, :as => :file, :label => 'CSV файл' %>
  <%= f.submit 'Импортировать' %>
<% end %>
<%= link_to "Ваши корпуса", workplace_organization_buildings_path(resource) %>

<h3>Менеджеры (<%= link_to 'пригласить', new_workplace_organization_membership_path(resource) %>)</h3>
<ul>
  <%= render resource.memberships if resource.memberships.any? %>
</ul>

<h3>Дисциплины</h3>
<%= link_to 'Ваши дисциплины', workplace_organization_disciplines_path(resource) %>

<h3>Расписания</h3>
<%= link_to 'Ваши расписания', workplace_organization_timetables_path(resource) %>

<h3>Подписки</h3>
<%= link_to 'Ваши подписки', workplace_organization_subscriptions_path(resource) %>
