<h2 class='thin'><%= @organization.title %></h2>
<p>Электронная почта: <%= mail_to @organization.email %></p>
<p>Телефон: <%= @organization.phone %></p>
<p>Сайт организации: <%= link_to @organization.site, @organization.site, :target => '_blank' %></p>
<p>Ссылка на расписание: <%= link_to "http://#{@organization.subdomain}.fliptable.ru", "http://#{@organization.subdomain}.fliptable.ru", :target => '_blank' %></p>

<h6>Логотип организации:</h6>
<% if @organization.logo %>
  <%= image_tag @organization.logo.image.url, :class => 'to_left', :style => 'margin: 0 15px 0 0' if @organization.logo %>
  <%= link_to "удалить логотип", workplace_logo_path, :method => :delete %>
<% else %>
  <%= simple_form_for @organization.build_logo, :url => workplace_logo_path, :html => { :style => 'width: 735px; margin: 0 0 15px 0' } do |f| %>
    <div class="buttons to_right">
      <%= f.submit "Сохранить логотип", :class => 'yellow_button', :style => 'margin: 0' %>
    </div>

    <%= f.input :image, :as => :file, :hint => 'Необходима картинка размером не менее 128x128', :label => false %>
  <% end %>
<% end %>


<div style='width: 100%; overflow: hidden; padding: 15px 0 0 0'>
<%= link_to 'редактировать',
            edit_workplace_organization_path,
            :class => 'yellow_button in_frame',
            :remote => true,
            'data-parent' => '.workplace_wrapper',
            'data-target' => '',
            'data-kind' => 'update_record'
          %>

<%= link_to 'управление праздниками',
            edit_holidays_workplace_organization_path,
            :class => 'yellow_button in_frame',
            :remote => true,
            'data-parent' => '.workplace_wrapper',
            'data-target' => '',
            'data-kind' => 'update_record'
          %>

<%= link_to 'управление расписанием звонков',
            edit_lesson_times_workplace_organization_path,
            :class => 'yellow_button in_frame', :remote => true,
            'data-parent' => '.workplace_wrapper',
            'data-target' => '',
            'data-kind' => 'update_record'
          %>
</div>
