<% if cell.rendering? %>
  <td rowspan="<%= cell.span_rows %>" colspan="<%= cell.span_columns %>">
    <div class="lesson_cell width_<%= cell.span_columns %> training_type_<%= cell.kind %>">
      <% if cell.lesson_nil? %>
        <%= link_to "добавить",
          polymorphic_path([:new, :workplace, @organization, @timetable, @week, cell.day, :lesson], 'lesson[lesson_time_id]' => cell.lesson_time.id, 'lesson[group_lessons_attributes][0][group_id]' => group),
          :class => "add", :title => "добавить" %>
      <% else %>
        <p><%= cell.lesson.discipline.title %></p>
        <p><%= cell.lesson.classrooms.map(&:to_s).join(', ') %></p>
        <p><%= cell.lesson.lecturers.map(&:full_name).join(', ') %></p>
        <p><%= link_to 'copy', polymorphic_path([:to_copy, :workplace, @organization, @timetable, @week, cell.day, cell.lesson]) %></p>
        <%= link_to "delete", polymorphic_path([:workplace, @organization, @timetable, @week, cell.day, cell.lesson]),  :method => :delete %>
      <% end %>
    </div>
  </td>
<% end %>
