<td <%= "colspan=#{cell.colspan}" if cell.colspan > 1 %> <%= "rowspan=#{cell.rowspan}" if cell.rowspan > 1 %> <%= "class=\"#{td_class}\"".html_safe if local_assigns.has_key?(:td_class) %>>
  <% if cell.can_have_more_lesson? && cell.lesson_time.present? %>
    <div class="lesson <%= "subgroup_#{(Lesson.subgroup.values - ['whole', cell.lessons.last.subgroup]).first}_wrapper" if cell.lessons.any? && !cell.lessons.first.subgroup_whole? %>">
      <%= link_to "+ добавить",
        polymorphic_path([:new, :workplace, @timetable, @week, cell.day, :lesson], 'lesson[lesson_time_id]' => cell.lesson_time.id, 'lesson[group_lessons_attributes][0][group_id]' => cell.group),
        :class => "add yellow_button faded in_frame",
        'data-parent' => '.workplace_wrapper',
        'data-target' => ".week_timetable",
        'data-kind'   => 'update_record',
        :remote => true,
        :title => "добавить" %>
    </div>
  <% end %>

  <% if cell.lessons.any? %>
    <% cell.lessons.each do |lesson| %>
      <div class="lesson <%= "subgroup_#{lesson.subgroup}_wrapper" unless lesson.subgroup_whole? %>">
        <div class="lesson_wrapper <%= lesson.kind %>">
          <% unless lesson.subgroup_whole? %>
            <span class='subgroup_<%= lesson.subgroup %>'>(<span><%= lesson.subgroup_text %></span>)</span>
          <% end %>

          <span class='discipline' title='<%= lesson.discipline.title %>'>
            <%= lesson.discipline.abbr %>
            <%= content_tag :span, '', :class => 'note', :title => lesson.note if lesson.note? %>
          </span>

          <span class='kind'><%= lesson.kind_text %> в <%= lesson.classrooms.map{|c| link_to(c, workplace_classroom_path(c), 'data-parent' => '.workplace_wrapper', :class => 'in_frame', :remote => true)}.join(', ').html_safe %></span>
          <span class="lecturers"><%= lesson.lecturers.map{ |l| link_to(l, workplace_lecturer_path(l), 'data-parent' => '.workplace_wrapper', :class => 'in_frame', :remote => true) }.join(', ').html_safe %></span>
        </div>
        <div class="lesson_actions">
          <%= link_to 'редактировать',
            polymorphic_path([:edit, :workplace, @timetable, @week, cell.day, lesson]),
            :class => 'grey_button faded edit in_frame',
            'data-parent' => '.workplace_wrapper',
            'data-target' => ".week_timetable",
            'data-kind'   => 'update_record',
            :title => 'редактировать',
            :remote => true
          %>
          <%= link_to 'скопировать',
                      polymorphic_path([:workplace, @timetable, @week, cell.day, lesson, :new_copy]),
                      :class => 'grey_button faded copy in_frame',
                      'data-parent' => '.workplace_wrapper',
                      'data-target' => ".week_timetable",
                      'data-kind'   => 'update_record',
                      :title => 'скопировать',
                      :remote => true
          %>
          <%= link_to 'переместить',
                      polymorphic_path([:workplace, @timetable, @week, cell.day, lesson, :new_movement]),
                      :class => 'grey_button faded move in_frame',
                      'data-parent' => '.workplace_wrapper',
                      'data-target' => ".week_timetable",
                      'data-kind'   => 'update_record',
                      :title => 'переместить',
                      :remote => true
          %>
          <%= link_to 'удалить', polymorphic_path([:workplace, @timetable, @week, cell.day, lesson]),  :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_button faded' %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= cell.content %>
<% end %>
</td>
