<% row = rows.first %>
<tr>
  <td rowspan="<%= row[0].rowspan %>" class='day'>
    <span class="week_day"><%= row[0].day.day_name %></span>
    <span class="date"><%= l row[0].day.date, :format => '%d.%m' %></span>
    <% if row[0].day.today? %>
      <span class="today">Сегодня</span>
    <% end %>
  </td>

  <td class="lesson_time">
    <%= render :partial => 'lesson_time_cell', :locals => { :cell => row[1] } %>
  </td>

  <% row[2..-1].select(&:visible?).each do |cell| %>
    <%= render :partial => 'cell', :locals => { :cell => cell } %>
  <% end %>
</tr>

<% rows[1..-1].each do |row| %>
  <tr>
    <td class="lesson_time">
      <%= render :partial => 'lesson_time_cell', :locals => { :cell => row[0] } %>
    </td>

    <% row[1..-1].select(&:visible?).each do |cell| %>
      <%= render :partial => 'cell', :locals => { :cell => cell } %>
    <% end %>
  </tr>
<% end %>
