<% row = rows.first %>
<% day = row[0].day %>
<tr>
  <td rowspan="<%= row[0].rowspan %>" class='day'>
    <span class="week_day"><%= row[0].day.day_name %></span>
    <span class="date"><%= l row[0].day.date, :format => '%d.%m' %></span>
    <% if row[0].day.today? %>
      <span class="today">Сегодня</span>
    <% end %>
  </td>

  <td class="lesson_time holiday_blt holiday_<%= day.id %>">
    <%= render :partial => 'lesson_time_cell', :locals => { :cell => row[1] } %>
  </td>

  <% visible_cells = row[2..-1].select(&:visible?) %>

  <% visible_cells[0..-2].each do |cell| %>
    <%= render :partial => 'cell', :locals => { :cell => cell, :td_class => 'holiday_bt' } %>
  <% end %>

  <%= render :partial => 'cell', :locals => { :cell => visible_cells[-1], :td_class => 'holiday_brt' } %>
</tr>

<% rows[1..-2].each do |row| %>
  <tr>
    <td class="lesson_time holiday_bl">
      <%= render :partial => 'lesson_time_cell', :locals => { :cell => row[0] } %>
    </td>

    <% visible_cells = row[1..-1].select(&:visible?) %>

    <% visible_cells[0..-2].each do |cell| %>
      <%= render :partial => 'cell', :locals => { :cell => cell } %>
    <% end %>

    <%= render :partial => 'cell', :locals => { :cell => visible_cells[-1], :td_class => 'holiday_br' } %>
  </tr>
<% end %>

<tr>
  <% row = rows[-1] %>

  <td class="lesson_time holiday_blb">
    <%= render :partial => 'lesson_time_cell', :locals => { :cell => row[0] } %>
  </td>

  <% visible_cells = row[1..-1].select(&:visible?) %>

  <% visible_cells[0..-2].each do |cell| %>
    <%= render :partial => 'cell', :locals => { :cell => cell, :td_class => 'holiday_bb' } %>
  <% end %>

  <%= render :partial => 'cell', :locals => { :cell => visible_cells[-1], :td_class => "holiday_brb holiday_#{day.id}" } %>
</tr>
