<%= render 'head_of_timetable' %>
<div class="scrollable">
  <%= link_to "Скопировать",
              workplace_timetable_week_new_copy_path(@timetable, @week),
              :class => 'yellow_button faded to_right in_frame',
              :remote => true,
              'data-parent' => '.workplace_wrapper'
  %>
  <%= link_to 'Расписание в формате pdf', [:pdf, :workplace, @timetable, @week], :class => 'yellow_button faded to_right', :style => 'margin: 0 5px 0 0' %>
  <div class="inner_navigation" data-wrapper='.scrollable'>
    <div class="inner_wrapper">
      <% if @week.prev %>
        <%= link_to "&#x2039;".html_safe, workplace_timetable_week_path(@timetable, @week.prev), :class => 'prev grey_button' %>
      <% else %>
        <%= link_to "&#x2039;".html_safe, '#', :class => 'inactive faded prev grey_button' %>
      <% end %>
      <div class="current_week"><%= l @week.starts_on.beginning_of_week, :format => '%d %B' %> &mdash; <%= l @week.starts_on.end_of_week, :format => '%d %B' %></div>
      <% if @week.next %>
        <%= link_to "&#x203A;".html_safe, workplace_timetable_week_path(@timetable, @week.next), :class => 'next grey_button'%>
      <% else %>
        <%= link_to "&#x203A;".html_safe, '#', :class => 'inactive faded next grey_button'%>
      <% end %>

      <div class='collection_wrapper'>
        <ul>
          <% @weeks.each do |week| %>
            <li class="<%= week.starts_on == @week.starts_on ? 'current' : 'fake' %>"><%= link_to "#{l(week.starts_on.beginning_of_week, :format => '%d %B')} &mdash; #{l(week.starts_on.end_of_week, :format => '%d %B')}".html_safe, workplace_timetable_week_path(@timetable, week) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%= simple_form_for [:workplace, @timetable, @timetable.groups.build], :html => { :style => 'margin: 0 0 15px 0' } do |f| %>
    <%= f.input :title,
      :label => false,
      :placeholder => 'Номер',
      :wrapper_html => { :class => 'left_col' },
      :input_html => { :class => 'inline_edit tight', :autofocus => true }
    %>

    <%= f.submit 'Добавить группу', :class => 'yellow_button' %>
  <% end %>

  <%= render :partial => 'week_timetable' %>

  <% @table[:days].keys.select{ |d| d.holiday? }.each do |holiday| %>
    <div class="holiday" id="holiday_<%= holiday.id %>">
      <span class="date"><%= l holiday.date, :format => '%d %B' %> &mdash; выходной</span>
      <span class="title thin">Название праздника</span>
      <%= link_to 'Сделать учебным', '#', :class => 'yellow_button' %>
    </div>
  <% end %>
</div>
