<h1><%= "#{@timetable.title} #{@week}" %></h1>

<%= simple_form_for Group.new, url: workplace_organization_timetable_groups_path(@organization, @timetable) do |f| %>
  <%= f.input :title %>
  <%= f.submit %>
<% end %>

<table class='timetable'>
  <tr>
    <td>
      <table>
        <tr>
          <th>Week</th>
        </tr>
        <% @week.days.each do |day| %>
          <tr>
            <td>
              <table>
                <tr>
                  <td rowspan="<%= @week.days.count %>">
                    <%= day.day_name %>
                  </td>
                </tr>
                <% @timetable.lesson_times.where(:day => day.wday).each do |time| %>
                  <tr>
                    <td><%= "#{time.starts_at} - #{time.ends_at}" %></td>
                  </tr>
                <% end %>
              </table>
            </td>
          </tr>
        <% end %>
      </table>
    </td>

    <% @timetable.groups.each do |group| %>
      <td>
        <table>
          <tr>
            <th><%= group.title %></th>
          </tr>
          <% @week.days.each do |day| %>
            <tr>
              <td>
                <table>
                  <% @timetable.lesson_times.where(:day => day.wday).each do |time| %>
                    <tr>
                      <td>
                        <%= link_to "+ lesson", polymorphic_path([:new, :workplace, @organization, @timetable, @week, day, :lesson], 'lesson[lesson_time_id]' => time.id) %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    <% end %>
  </tr>
</table>

