<h1><%= "#{@timetable.title} #{@week}" %></h1>

<%= simple_form_for Group.new, url: workplace_organization_timetable_groups_path(@organization, @timetable) do |f| %>
  <%= f.input :title %>
  <%= f.submit %>
<% end %>

<%= link_to 'pdf', [:pdf, :workplace, @organization, @timetable, @week] %>

<table>
  <thead>
    <tr>
      <% @table[:header].each do |cell| %>
        <th <%= "colspan=#{cell.colspan}" if cell.colspan > 1 %> <%= "rowspan=#{cell.rowspan}" if cell.rowspan > 2 %>>
          <%= cell.content %>
        </th>
      <% end %>
    </tr>
  </thead>


  <tbody>
    <% @table[:days].each do |day, rows| %>
      <% rows.each do |row| %>
        <tr>
          <% row.select(&:visibiliity?).each do |cell| %>
            <%= render :partial => 'cell', :locals => { :cell => cell } %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
