<div style='overflow: hidden'>
  <div class="actions to_right">
    <% if @timetable.draft? %>
      <%= link_to "Опубликовать", to_published_workplace_timetable_path(@timetable), method: :put, :class => 'yellow_button faded' %>
    <% else %>
      <%= link_to "Вернуть в черновики", to_draft_workplace_timetable_path(@timetable), method: :put, :class => 'yellow_button faded' %>
    <% end %>
    <%= link_to 'редактировать',
      edit_workplace_timetable_path(@timetable),
      :class => 'yellow_button faded in_frame',
      'data-parent' => '.workplace_wrapper',
      'data-target' => "#timetable_#{ @timetable.id }",
      'data-list' => '#timetable_list',
      'data-kind' => 'update_record',
      :remote => true %>
    <%= link_to 'удалить', workplace_timetable_path(@timetable), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_button faded' %>
  </div>

  <div class="status <%= @timetable.status %>"><%= @timetable.human_status_name %></div>
  <h2 class='thin border_bottom'><%= @timetable.title %></h2>
</div>

<div class="scrollable">
  <%= link_to "Скопировать", workplace_timetable_week_new_copy_path(@timetable, @week), :class => 'yellow_button faded to_right' %>
  <%= link_to 'Расписание в формате pdf', [:pdf, :workplace, @timetable, @week], :class => 'yellow_button faded to_right', :style => 'margin: 0 5px 0 0' %>
  <div class="inner_navigation">
    <div class="inner_wrapper">
      <% if @week.prev %>
        <%= link_to "&#x2039;".html_safe, workplace_timetable_week_path(@timetable, @week.prev), :class => 'prev grey_button' %>
      <% end %>
      <div class="current_week"><%= l @week.starts_on.beginning_of_week %> &mdash; <%= l @week.starts_on.end_of_week %></div>
      <% if @week.next %>
        <%= link_to "&#x203A;".html_safe, workplace_timetable_week_path(@timetable, @week.next), :class => 'next grey_button'%>
      <% end %>
    </div>
  </div>

  <table class='week_timetable'>
    <thead>
      <tr>
        <% @table[:header].each do |cell| %>
          <% if cell.colspan > 1 %>
            <th <%= "colspan=#{cell.colspan}" %> class="group_label">
              Группа
            </th>
          <% else %>
            <th class="group_number">
              <%= cell.content %>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @table[:days].each do |day, rows| %>
        <% row = rows.first %>

        <tr>
          <td rowspan="<%= row[0].rowspan %>" class='day'>
            <span class="week_day"><%= row[0].day.day_name %></span>
            <span class="date"><%= l row[0].day.date, :format => '%d.%m' %></span>
            <% if row[0].day.today? %>
              <span class="today">Сегодня</span>
            <% end %>
          </td>

          <td class="lesson_time">
            <div class="time">
              <span class="hours"><%= l row[1].lesson_starts_at, :format => '%k' %></span><span class="minutes"><%= l row[1].lesson_starts_at, :format => '%M' %></span>&mdash;<span class="hours"><%= l row[1].lesson_ends_at, :format => '%k' %></span><span class="minutes"><%= l row[1].lesson_ends_at, :format => '%M' %></span>
            </div>
          </td>

          <% row[2..-1].select(&:visibiliity?).each do |cell| %>
            <%= render :partial => 'cell', :locals => { :cell => cell } %>
          <% end %>
        </tr>

        <% rows[1..-1].each do |row| %>
          <tr>
            <td class="lesson_time">
              <div class='time'>
                <span class="hours"><%= l row[0].lesson_starts_at, :format => '%k' %></span><span class="minutes"><%= l row[0].lesson_starts_at, :format => '%M' %></span>&mdash;<span class="hours"><%= l row[0].lesson_ends_at, :format => '%k' %></span><span class="minutes"><%= l row[0].lesson_ends_at, :format => '%M' %></span>
              </div>
            </td>

            <% row[1..-1].select(&:visibiliity?).each do |cell| %>
              <%= render :partial => 'cell', :locals => { :cell => cell } %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
