<div style='overflow: hidden'>
  <div class="actions to_right">
    <% if @timetable.draft? %>
      <%= link_to "Опубликовать", to_published_workplace_timetable_path(@timetable), method: :put, :class => 'yellow_button', :remote => true %>
    <% else %>
      <%= link_to "Вернуть в черновики", to_draft_workplace_timetable_path(@timetable), method: :put, :class => 'yellow_button', :remote => true %>
    <% end %>
    <%= link_to 'редактировать',
      edit_workplace_timetable_path(@timetable),
      :class => 'yellow_button faded in_frame',
      'data-parent' => '.workplace_wrapper',
      'data-target' => "#timetable_#{ @timetable.id }",
      'data-kind' => 'update_record',
      :remote => true %>
    <%= link_to 'удалить', workplace_timetable_path(@timetable), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_button faded' %>
  </div>

  <div class="status <%= @timetable.status %>"><%= @timetable.human_status_name %></div>
  <h2 class='thin border_bottom'><%= @timetable.title %></h2>
</div>

<div class="scrollable">
  <%= link_to "Скопировать", workplace_timetable_week_new_copy_path(@timetable, @week), :class => 'yellow_button faded to_right' %>
  <%= link_to 'Расписание в формате pdf', [:pdf, :workplace, @timetable, @week], :class => 'yellow_button faded to_right', :style => 'margin: 0 5px 0 0' %>
  <div class="inner_navigation">
    <div class="inner_wrapper">
      <% if @week.prev %>
        <%= link_to "&#x2039;".html_safe, workplace_timetable_week_path(@timetable, @week.prev), :class => 'prev grey_button' %>
      <% else %>
        <%= link_to "&#x2039;".html_safe, '#', :class => 'inactive faded prev grey_button' %>
      <% end %>
      <div class="current_week"><%= l @week.starts_on.beginning_of_week, :format => '%d %B' %> &mdash; <%= l @week.starts_on.end_of_week, :format => '%d %B' %></div>
      <% if @week.next %>
        <%= link_to "&#x203A;".html_safe, workplace_timetable_week_path(@timetable, @week.next), :class => 'next grey_button'%>
      <% else %>
        <%= link_to "&#x203A;".html_safe, '#', :class => 'inactive faded next grey_button'%>
      <% end %>
    </div>
  </div>

  <table class='week_timetable'>
    <thead>
      <tr>
        <% @table[:header].each do |cell| %>
          <% if cell.colspan > 1 %>
            <th <%= "colspan=#{cell.colspan}" %> class="group_label">
              Группа
            </th>
          <% else %>
            <th class="group_number">
              <%= cell.content %>
            </th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @table[:days].each do |day, rows| %>
        <% if day.holiday? %>
          <%= render :partial => 'holiday', :locals => { :day => day, :rows => rows } %>
        <% else %>
          <%= render :partial => 'day', :locals => { :day => day, :rows => rows } %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% @table[:days].keys.select{ |d| d.holiday? }.each do |holiday| %>
    <div class="holiday" id="holiday_<%= holiday.id %>">
      <span class="date"><%= l holiday.date, :format => '%d %B' %> &mdash; выходной</span>
      <span class="title thin">Название праздника</span>
      <%= link_to 'Сделать учебным', '#', :class => 'yellow_button' %>
    </div>
  <% end %>
</div>
