<h1><%= "#{@timetable.title} #{@week}" %></h1>

<%= simple_form_for Group.new, url: workplace_organization_timetable_groups_path(@organization, @timetable) do |f| %>
  <%= f.input :title %>
  <%= f.submit %>
<% end %>

<table>
  <% @week.cells.each do |day, lesson_times| %>
    <% next if lesson_times.empty? %>

    <tr>
      <th colspan="2"></th>
      <% @timetable.groups.each do |group| %>
        <th class="group_number group_<%= group.title.gsub('-', '_') %>">
          <%= group.title  %>
        </th>
      <% end %>
    </tr>
    <tr>
      <th rowspan="<%= lesson_times.count %>" class="abbr_day_name">
        <b><%= day.day_name %><br /><br /><%= l(@week.days.first.date + day.date.day - 1.days, :format => '%e %b') %></b>
      </th>
      <th class="lesson_interval">
        <p><%= lesson_times.first.starts_at %></p>
        <p><%= lesson_times.first.ends_at %></p>
      </th>
      <% @timetable.groups.each_with_index do |group, index| %>
        <%= render :partial => 'cell', :locals => { :cell => DailyTimetable.new(:timetable => @timetable, :day => day ,:week => @week).cells[lesson_times.first.number][index + 1], :group => group, week: @week } %>
      <% end %>
    </tr>
    <% lesson_times[1..-1].each do |lesson_time| %>
      <tr>
        <th class="lesson_interval">
        <p><%= lesson_time.starts_at %></p>
        <p><%= lesson_time.ends_at %></p>
        </th>
        <% @timetable.groups.each_with_index do |group, index| %>
          <%= render :partial => 'cell', :locals => { :cell => DailyTimetable.new(:timetable => @timetable, :day => day ,:week => @week).cells[lesson_time.number][index + 1], :group => group, week: @week } %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

