<h2 class='thin'><%= @lecturer.full_name %></h2>
<h3 class='thin'>Расписание преподавателя</h3>

<% weeks = @lecturer.beginning_of_weeks %>
<% current = weeks.index(@week.to_date) %>
<% prev_week = current.zero? ? nil : weeks[current-1]   %>
<% next_week = current+1 == weeks.count ? nil : weeks[current+1] %>

<div class="inner_navigation">
  <div class="inner_wrapper">
    <% if prev_week %>
      <%= link_to "&#x2039;".html_safe, organization_lecturer_path(@lecturer, :week => prev_week), :class => 'prev grey_button' %>
    <% else %>
      <%= link_to "&#x2039;".html_safe, '#', :class => 'inactive faded prev grey_button' %>
    <% end %>
    <div class="current_week"><%= l @week.to_date.beginning_of_week, :format => '%d %B' %> &mdash; <%= l @week.to_date.end_of_week, :format => '%d %B' %></div>
    <% if next_week %>
      <%= link_to "&#x203A;".html_safe, organization_lecturer_path(@lecturer, :week => next_week), :class => 'next grey_button'%>
    <% else %>
      <%= link_to "&#x203A;".html_safe, '#', :class => 'inactive faded next grey_button'%>
    <% end %>
  </div>
</div>

<%= raise @table.values.first.keys.inspect %>
<table class='lecturer_table'>
  <thead>
    <tr>
      <% @table.keys.each do |day| %>
        <th>
          <span class='day_name'><%= l day, :format => '%a' %></span>
          <span class='date'><%= l day, :format => :long %></span>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @table.values.each_with_index do |day, index| %>
        <td><%= day.inspect %></td>
      <% end %>
    </tr>
  </tbody>
</table>
