<%= simple_nested_form_for [:workplace, @timetable, @week, @day, @lesson] do |f| %>
  <%= f.input :lesson_time_id, :as => :hidden %>
  <%= f.association :discipline, :include_blank => false %>
  <%= f.input :kind, :include_blank => false %>
  <%= f.input :subgroup, :collection => @lesson.available_subgroup_options, :include_blank => false %>

  <%= f.fields_for :group_lessons do |gl_f| %>
    <%= gl_f.input :group_id, :as => :select, :collection => @organization.groups, :label => 'Группа' %>
    <%= gl_f.link_to_remove 'убрать' %>
  <% end %>
  <%= f.link_to_add 'добавить группу', :group_lessons %>

  <%= f.fields_for :classroom_lessons do |crl_f| %>
    <%= crl_f.input :classroom_id, :as => :select, :collection => @organization.classrooms, :label => 'Аудитория' %>
    <%= crl_f.link_to_remove 'убрать' %>
  <% end %>
  <%= f.link_to_add 'добавить аудиторию', :classroom_lessons %>

  <%= f.fields_for :lecturer_lessons do |ll_f| %>
    <%= ll_f.input :lecturer_id, :collection => @organization.lecturers, :label_method => :full_name, :label => 'Лектор' %>
    <%= ll_f.link_to_remove 'убрать' %>
  <% end %>
  <%= f.link_to_add 'добавить лектора', :lecturer_lessons %>

  <div class="buttons">
    <%= f.submit 'Сохранить' %>
    <%= link_to "Отмена", workplace_timetable_week_path(@timetable, @week) %>
  </div>
<% end %>
