<h1>Расписание звонков организации</h1>
<%= simple_nested_form_for @organization, :url => workplace_organization_update_lesson_times_path(@organization) do |f| %>
  <%= f.fields_for :lesson_times do |lt_f| %>
    <%= lt_f.input :starts_at %>
    <%= lt_f.input :ends_at %>
    <%= lt_f.link_to_remove 'Удалить урок' %>
  <% end %>
  <%= f.link_to_add 'Добавить урок', :lesson_times %>

  <div>
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
