<%= simple_nested_form_for [:workplace, @building].flatten, :remote => true, :html => { :class => 'scrollable' } do |f| %>
  <%= f.input :title, :input_html => { :class => 'inline_edit large', :autofocus => true }, :placeholder => 'Название корпуса' %>
  <%= f.input :address, :input_html => { :class => 'inline_edit' }, :placeholder => 'Адрес корпуса' %>
  <label>Список аудиторий</label>
  <input type="text" class='search_in_list tight' data-list='#classroom_list'/>
  <%= link_to "+ Добавить", '#', :class => 'yellow_button search_in_list_add faded' %>
  <span class="search_in_list_hint">Найдите аудиторию по номеру или<br/> добавьте новую, нажав на кнопку 'Добавить'</span>
  <div class="fields_list">
    <ul class='classrooms list' id='classroom_list'>
      <%= f.simple_fields_for :classrooms, :wrapper => false do |cf|  %>
        <li class='fields' data-value='<%= cf.object.number %>'>
          <%= cf.input :number, :label => false, :input_html => { :class => 'inline_edit tight' }, :wrapper_html => { :class => 'item_value' }  %>
          <%= link_to "посмотреть загрузку", workplace_classroom_path(cf.object), :class => 'show_loadings in_frame', :remote => true, :data => { :parent => '.frame_container' } if cf.object.persisted? %>
          <%= cf.link_to_remove 'убрать', :class => 'delete_button faded', :confirm => 'Вы уверены?' %>
        </li>
      <% end %>
    </ul>
    <%= f.link_to_add "добавить аудиторию", :classrooms, :data => { :target => '.classrooms' }, :class => 'hidden' %>
  </div>

  <div class="buttons sticky bottom">
    <%= f.submit "Сохранить", :class => 'yellow_button' %>
    <%= link_to "Отмена", :back, :class => 'cancel grey_button' %>
  </div>
  <div class='bottom_empty'></div>
<% end %>

