<%= simple_nested_form_for [:workplace, @building].flatten do |f| %>
  <%= f.input :title %>
  <%= f.input :address %>
  <%= f.simple_fields_for :classrooms do |cf|  %>
    <%= cf.input :number  %>
    <%= cf.link_to_remove 'убрать' %>
  <% end %>
  <%= f.link_to_add "добавить аудиторию", :classrooms %>

  <div class="buttons">
    <%= f.submit "Сохранить" %>
    <%= link_to 'Удалить', workplace_building_path(:workplace, resource), :method => :delete, :confirm => 'Вы уверены?' unless resource.new_record? %>
    <%= link_to "Отмена", :back %>
  </div>
<% end %>

