<%= link_to '+ добавить корпус',
            new_workplace_building_path,
            :class => 'yellow_button thin to_right in_frame',
            'data-parent' => '.workplace_wrapper',
            'data-target' => '#building_list',
            'data-list' => '#building_list',
            'data-kind' => 'new_record',
            :remote => true %>

<h2 class='thin'>Корпуса и аудитории</h2>

<div class="important_wrapper import_help">
  <a href="#" class='close_link'>закрыть</a>
  <h5 class='open_link'>Быстрый импорт</h5>
  <div class="inner_wrapper">
    <p>Для импорта списка корпусов и аудиторий вам понадобится <i>.csv</i> файл со списком корпусов со следующими параметрами:</p>
    <ul>
      <li>первая строка &mdash; заголовки (<i>address, title, number</i>)</li>
      <li>следующе строки &mdash; информация о корпусах (<i>"ул. Вершинина, 76", ФЭТ, 438</i>)</li>
    </ul>

    <%= link_to "скачать пример", '/buildings_example.csv' %>

    <div class="separator"></div>

    <%= simple_form_for :import, :url => import_workplace_buildings_path do |f| %>
      <%= f.submit 'Импортировать', :class => 'yellow_button to_right' %>
      <div class="file_input_wrapper">
        <div class="upload_file grey_button">Загрузить .csv файл</div>
        <%= f.input_field :file, :as => :file, :label => false %>
      </div>
      <span class="hint">Выберите файл на своем компьютере, затем нажмите кнопку &laquo;импортировать&raquo;</span>
    <% end %>
  </div>
</div>

<ul class='list scrollable' id='building_list'>
  <%= render collection %>
</ul>
