<h2 class='thin'>Праздники организации</h2>

<%= simple_nested_form_for @organization, :url => update_holidays_workplace_organization_path, :remote => true, :html => { :class => 'scrollable' } do |f| %>
  <%= f.link_to_add '+ добавить праздник', :organization_holidays, :class => 'yellow_button', :data => { :target => '#organization_holidays' } %>

  <div id="organization_holidays">
    <%= f.fields_for :organization_holidays, :wrapper => false do |oh_f| %>
      <div class="fields">
        <%= oh_f.link_to_remove 'Удалить', :class => 'delete_button to_right' %>
        <%= oh_f.input :date, :as => :date_picker, :input_html => { :class => 'inline_edit date_picker' }, :wrapper_html => { :class => 'left_col' }, :label => false, :placeholder => 'Дата' %>
        <%= oh_f.input :title, :input_html => { :class => 'inline_edit normal' }, :wrapper_html => { :class => 'right_col' }, :label => false, :placeholder => 'Название праздника' %>
      </div>
    <% end %>
  </div>

  <div class="buttons sticky bottom">
    <%= f.submit "Сохранить", :class => 'yellow_button' %>
    <%= link_to "Отмена", :back, :class => 'cancel grey_button' %>
  </div>
  <div class="bottom_empty"></div>
<% end %>
