<%= simple_form_for [:workplace, @organization, @membership] do |f| %>
  <% if @membership.new_record? %>
    <%= f.input :user_id, :as => :select, :collection => User.all.map { |user| [user.email, user.id] } %>
  <% end %>
  <%= f.input :role %>

  <div class="buttons">
    <%= f.submit "Save" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
