<%= simple_form_for [:workplace, @organization, @lecturer].flatten do |f| %>
  <%= f.input :surname %>
  <%= f.input :name %>
  <%= f.input :patronymic %>
  <%= f.input :academic_degree %>
  <%= f.input :academic_rank %>
  <%= f.input :bio %>

  <div class="buttons">
    <%= f.submit "Save" %>
    <%= link_to 'Delete', workplace_organization_lecturer_path(:workplace, @organization, resource), :method => :delete, :confirm => 'Are you sure?' unless resource.new_record? %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
