<%= simple_form_for [:workplace, @lecturer].flatten, :remote => true, :html => { :class => 'scrollable' } do |f| %>
  <%= f.input :surname, :input_html => { :class => 'inline_edit large' } %>
  <%= f.input :name, :input_html => { :class => 'inline_edit' } %>
  <%= f.input :patronymic, :input_html => { :class => 'inline_edit' } %>

  <%= render 'lecturer_loadings' if resource.persisted?%>

  <div class="buttons sticky bottom">
    <%= f.submit "Сохранить", :class => 'yellow_button' %>
    <%= link_to 'Удалить', workplace_lecturer_path(:workplace, resource), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete_button' if resource.persisted? %>
    <%= link_to "Отмена", :back, :class => 'cancel grey_button' %>
  </div>
  <div class="bottom_empty"></div>
<% end %>
