<%= simple_form_for [:workplace, @organization, @lecturer].flatten do |f| %>
  <%= f.input :surname %>
  <%= f.input :name %>
  <%= f.input :patronymic %>

  <div class="buttons">
    <%= f.submit "Save" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
