<%= simple_form_for [:workplace, @lecturer].flatten do |f| %>
  <%= f.input :surname %>
  <%= f.input :name %>
  <%= f.input :patronymic %>

  <div class="buttons">
    <%= f.submit "Сохранить" %>
    <%= link_to "Отмена", :back %>
  </div>
<% end %>
