<%= link_to "+ добавить лектора", new_workplace_lecturer_path, :class => 'yellow_button thin to_right in_frame', 'data-parent' => '.workplace_wrapper', :remote => true %>
<h2 class='thin'>Лекторы</h2>

<div class="important_wrapper import_help">
  <a href="#" class='close_link'>закрыть</a>
  <h5 class='open_link'>Быстрый импорт</h5>
  <div class="inner_wrapper">
    <p>Для импорта списка лекторов вам понадобится <i>.csv</i> файл со списком лекторов со следующими параметрами:</p>
    <ul>
      <li>первая строка &mdash; заголовки (<i>surname, name, patronymic</i>)</li>
      <li>следующе строки &mdash; информация о лекторах (<i>Иванов, Иван, Иванович</i>)</li>
    </ul>

    <%= link_to "скачать пример", '/lecturers_example.csv' %>

    <div class="separator"></div>

    <%= simple_form_for :import, :url => import_workplace_lecturers_path do |f| %>
      <%= f.submit 'Импортировать', :class => 'yellow_button to_right' %>
      <div class="file_input_wrapper">
        <div class="upload_file grey_button">Загрузить .csv файл</div>
        <%= f.input_field :file, :as => :file, :label => false %>
      </div>
      <span class="hint">Выберите файл на своем компьютере, затем нажмите кнопку &laquo;импортировать&raquo;</span>
    <% end %>
  </div>
</div>

<div class="scrollable searchable">
  <div class="top_empty"></div>
  <div class='search_in_list_wrapper sticky top'>
    <input type="text" class='search_in_list wide' />
    <span class="search_in_list_hint">Найдите лектора по фамилии, имени или отчеству</span>
  </div>
  <ul class='list'>
    <%= render collection %>
  </ul>
</div>
