<div class='main_page'>
  <div class="header">
    <div class="additional_wrapper">
      <div class="inner_wrapper">
        <div class="email_contact">
          <div>Задайте свой вопрос по&nbsp;почте <%= mail_to 'ask@fliptable.ru', nil, :subject => 'У меня вопрос об электронном расписании' %><div class='appendix'></div></div>
        </div>
        <div class="logo"><%= link_to "Электронное расписание для учебных заведений", root_path %></div>
        <div class="title">
          <h1>Электронное расписание <span>для учебных заведений</span></h1>
          <h2>Создавайте в одном месте &mdash; используйте везде!</h2>
        </div>
        <div class="auth_form">
          <div class="actions">
            <div class="sign_up"><%= link_to "Зарегистрироваться", user_registration_path %></div>
            <div class="sign_in"><%= link_to "Войти", user_session_path %></div>
          </div>
          <%= simple_form_for :user, :url => user_registration_path, :method => :post do |f| %>
            <%= f.input :email, :placeholder => 'Ваша электронная почта', :label => false %>
            <%= f.input :password, :placeholder => 'Пароль', :label => false %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel">
    <div class="inner_wrapper">
      <div class="controls">
        <a href="#" class="prev">&larr;</a>
        <a href="#" class="next">&rarr;</a>
      </div>
      <ul>
        <li>
          <div class="picture template_slide"></div>
          <h2>Шаблон расписания звонков и&nbsp;выходных</h2>
          <div class="desc">Создайте шаблон и применяйте&nbsp;его&nbsp;в<br/>каждом расписании</div>
        </li>
        <li>
          <div class="picture dict_slide"></div>
          <h2>Импорт справочников</h2>
          <div class="desc">Загружайте списки аудиторий и преподавателей, чтобы не переносить их вручную</div>
        </li>
        <li>
          <div class="picture print_slide"></div>
          <h2>Печать в один клик</h2>
          <div class="desc">Экономьте время &mdash; версия для печати формируется автоматически</div>
        </li>
        <li>
          <div class="picture share_slide"></div>
          <h2>Размещение на вашем сайте</h2>
          <div class="desc">Транслируйте расписание на своем ресурсе, чтобы студентам было просто его найти</div>
        </li>
        <li>
          <div class="picture ical_slide"></div>
          <h2>Импорт в GOOGLE CALENDAR, ICAL, OUTLOOK</h2>
          <div class="desc">Легко импортируйте расписание в удобный для вас сервис</div>
        </li>
        <li>
          <div class="picture mobile_slide"></div>
          <h2>Мобильная версия</h2>
          <div class="desc">Позвольте студентам сверяться с расписанием с любого устройства</div>
        </li>
        <li>
          <div class="picture copy_slide"></div>
          <h2>Быстрое наполнение</h2>
          <div class="desc">Копируйте неделю, чтобы быстро заполнить всё расписание</div>
        </li>
        <li>
          <div class="picture collaboration_slide"></div>
          <h2>Совместная работа</h2>
          <div class="desc">Назначайте нескольких менеджеров, чтобы ускорить работу с системой</div>
        </li>
        <li>
          <div class="picture create_slide"></div>
          <h2>Меньше рутины</h2>
          <div class="desc">Создавайте расписание быстро и без лишних действий</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="demo">
    <div class="inner_wrapper">
      <div class="picture"></div>
      <h2>Попробуйте Fliptable</h2>
      <div class="desc">Вы можете попробовать демо-версию бесплатно и&nbsp;без регистрации</div>
      <div class="login_and_password">
        Логин: <i>demo@demo.de</i>
        <br/>
        Пароль: <i>demodemo</i>
      </div>
      <div class="actions">
        <div class="demo_link sign_in"><%= link_to "Войти в демо", '#' %></div>
      </div>
    </div>
  </div>

  <div class="tariff">
    <div class="additional_wrapper">
      <div class="inner_wrapper">
        <div class="tariff_wrapper" data-tariff='<%= @tariff.to_json %>'>
          <div class="slider_wrapper">
            <div class='label'>Период действия подписки: <div class='counter month'></div></div>
            <div class="slider month" data-min='<%= @tariff.min_month %>' data-max='<%= @tariff.max_month %>' data-step='1' data-init='<%= @tariff.half_months %>'>
              <span class="min"><%= @tariff.min_month %> месяц</span>
              <span class="max"><%= @tariff.max_month %> месяцев</span>
            </div>
          </div>
          <div class="slider_wrapper">
            <div class='label'>Количество групп: <div class='counter group'></div></div>
            <div class="slider group without_left" data-min='1' data-sale='<%= @tariff.min_group %>' data-max='<%= @tariff.max_group %>' data-step='1' data-init='<%= @tariff.half_groups %>'>
              <div class="for_free">бесплатно</div>
              <span class="min"><%= @tariff.min_group %> групп</span>
              <span class="max"><%= @tariff.max_group %> групп</span>
            </div>
          </div>
          <div class="total">
            <div class="label">Стоимость подписки:</div>
            <div class="wrapper">
              <div class="sum"></div> <div class="discount"></div> = <div class="sum_with_discount"></div>
            </div>
          </div>
        </div>
        <h2>Тарифы</h2>
        <div class="desc">Простой конструктор тарифов позволит подобрать для вас удобные условия</div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="inner_wrapper">
      <div class="go_top"><%= link_to "Наверх", '#' %></div>
      <div class="logo"><%= link_to "Электронное расписание для учебных заведений", root_path %></div>
      <div class='copyright'>&copy; Электронное расписание для учебных заведений, <%= Time.zone.today.year %></div>
    </div>
  </div>
</div>
