<!DOCTYPE html>
<html>
  <head>
    <title>TimetableApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="message_wrapper <%= 'notice' if notice %> <%= 'alert' if alert %>">
      <%= notice %>
      <%= alert %>
    </div>
    <div class='main_wrapper'>
      <div class="log_info">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to 'sign out', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'sign up', new_user_registration_path %>
          <%= link_to 'sign in', new_user_session_path %>
        <% end %>
      </div>
      <%= render_navigation :context => 'wizard' if user_signed_in? %>
      <%= yield %>
    </div>
  </body>
</html>
