<!DOCTYPE html>
<html>
  <%= yield :head %>
  <body>
    <div class="message_wrapper <%= 'notice' if notice %> <%= 'alert' if alert %>" <%= "style=display:none;" unless notice || alert %>>
      <%= notice %>
      <%= alert %>
    </div>
    <div class='main_wrapper'>
      <%= render :file => 'commons/log_info' %>

      <%= yield :content %>
    </div>
    <% if Rails.env.production? %>
      <!-- BEGIN JIVOSITE CODE {literal} -->
      <script type='text/javascript'>
        (function(){ var widget_id = '97850';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
      <!-- {/literal} END JIVOSITE CODE -->)

       <% unless controller_path =~ /workplace|manage/ %>
         <!-- Yandex.Metrika counter -->
         <script type="text/javascript">
           (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
              try {
              w.yaCounter22759936 = new Ya.Metrika({id:22759936,
                webvisor:true,
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true});
              } catch(e) { }
              });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
           })(document, window, "yandex_metrika_callbacks");
         </script>
         <noscript><div><img src="//mc.yandex.ru/watch/22759936" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
         <!-- /Yandex.Metrika counter -->
       <% end %>
    <% end %>
  </body>
</html>
