<!DOCTYPE html>
<html>
  <%= yield :head %>
  <body>
    <div class="message_wrapper <%= 'notice' if notice %> <%= 'alert' if alert %>" <%= "style=display:none;" unless notice || alert %>>
      <%= notice %>
      <%= alert %>
    </div>
    <div class='main_wrapper'>
      <%= yield :log_info %>
      <%= yield :content %>
    </div>
  </body>
</html>
