<%= content_for :head do %>
  <head>
    <title><%= @organization.title %> | Расписание занятий</title>
    <%= stylesheet_link_tag    'public', :media => 'all' %>
    <%= javascript_include_tag 'public' %>
    <%= csrf_meta_tags %>
  </head>
<% end %>

<%= content_for :content do %>
  <h1 class="thin"><%= image_tag @organization.logo.image.url(:thumb), :width => 32, :height => 32 if @organization.logo.image %><%= @organization.title %></h1>
  <%= yield %>
<% end %>

<%= render :file => 'layouts/base' %>
