<%= content_for :content do %>
  <div class="side_navigation">
    <%= render_navigation %>
  </div>
  <div class="workplace_wrapper">
    <div class="organization_info">
      <h1><%= @organization.title %></h1>
      <%= link_to "редактировать инфу об организации", edit_workplace_organization_path(@organization) %>
    </div>
    <%= yield %>
  </div>
<% end %>
<%= render :file => 'layouts/base' %>
