<%= content_for :head do %>
  <head>
    <title><%= @organization.try(:title) %> | Управление расписаниями</title>
    <%= stylesheet_link_tag    'workplace', :media => 'all' %>
    <%= javascript_include_tag 'workplace' %>
    <%= csrf_meta_tags %>
  </head>
<% end %>

<%= content_for :content do %>
  <div class="side_wrapper">
    <%= render :partial => 'workplace/organizations/organization', :locals => { :link => false, :organization => @organization } %>
    <div class="separator"></div>
    <div class="navigation">
      <%= render_navigation %>
    </div>
    <div class="footer">
      <ul>
        <li id='subscribes'>
          <%= link_to "<span></span><b>Подписки</b>".html_safe, workplace_subscriptions_path %>
        </li>
      </ul>
      <div class="separator"></div>
      <div class='copyright'>
        &copy; <%= Time.zone.today.year %> <%= link_to "fliptable.ru", 'http://fliptable.ru/', :class => 'thin' %>
      </div>
      <div class="desc">
        Электронное расписание для учебных заведений
      </div>
    </div>
    <div class="handle"></div>
  </div>

  <div class="workplace_wrapper">
    <div class="header">
      <a class='logo' href="/" title='http://fliptable.ru'>fliptable.ru</a>
    </div>
    <%= yield %>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>
