<%= content_for :content do %>
  <div class="side_navigation">
    <%= render_navigation %>
  </div>
  <div class="workplace_wrapper">
    <%= render @organization %>
    <%= yield %>
  </div>
<% end %>
<%= render :file => 'layouts/base' %>
