<%= content_for :head do %>
  <head>
    <title>Управление расписаниями <%= @organization.try(:title) %></title>
    <%= stylesheet_link_tag    'workplace', :media => 'all' %>
    <%= javascript_include_tag 'workplace' %>
    <%= csrf_meta_tags %>
  </head>
<% end %>

<%= content_for :content do %>
  <div class="side_navigation">
    <%= render_navigation %>
  </div>

  <div class="workplace_wrapper">
    <%= render @organization if @organization %>
    <%= yield %>
  </div>
<% end %>

<%= render :file => 'layouts/base' %>
